//====================================================================================================
.main-slider {
  background: #fcf8f3;

  // .main-slider__container
  &__container {
    position: relative;

    @media (min-width: $tablet) {
      &::before {
        content: "";
        background: #f9f1e7;
        position: absolute;
        top: 0;
        width: 100vw;
        right: toRem(376);
        height: 100%;
      }
    }
  }

  // .main-slider__body
  &__body {
    padding-top: toRem(140);
    position: relative;
    z-index: 2;

    @media (max-width: $tablet) {
      padding-top: toRem(80);
    }

    @media (max-width: $mobile) {
      padding-top: toRem(50);
    }

    @media (min-width: $tablet) {
      display: flex;
    }
  }

  // .main-slider__content
  &__content {
    align-self: flex-start;
    flex: 0 0 math.div(494, 1240) * 100%;
    @include adaptiveValue("margin-bottom", 80, 15);

    @media (max-width: $tablet) {
      margin: 0 toRem(-15);
    }
  }

  // .main-slider__slider
  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-end;

    @media (min-width: $tablet) {
      padding-left: toRem(32);
    }
  }
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: toRem(15);
  padding-right: toRem(15);
  background: rgba(255, 255, 255, 0.72);
  @include adaptiveValue("padding-top", 60, 15);
  @include adaptiveValue("padding-bottom", 60, 15);

  @media (min-width: $tablet) {
    @include adaptiveValue("padding", 60, 1);
    background: rgba(255, 255, 255, 0.9);

    /* Если браузер поддерживает backdrop-filter */
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .content-main__title
  &__title {
    @include adaptiveValue("font-size", 56, 24);
    font-weight: 700;
    line-height: 1.2;

    &:not(:last-child) {
      margin: 0 0 math.div(16px, 56px) * 1em 0;
    }
  }

  // .content-main__text
  &__text {
    @include adaptiveValue("font-size", 20, 16);
    color: $grayColor;
    font-weight: 500;
    line-height: 1.5;

    &:not(:last-child) {
      margin: 0 0 math.div(48px, 20px) * 1em 0;
    }
  }

  // .content-main__button
  &__button {
    font-weight: 600;
    @include adaptiveValue("min-height", 78, 45);
    @include adaptiveValue("font-size", 20, 16);
    background-color: $orangeColor;
    color: #fff;
    width: 100%;

    @media (any-hover: hover) {
      &:hover {
        background: #966749;
      }
    }
  }
}

.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $tablet) {
    align-items: stretch;
    flex-direction: column-reverse;
  }

  // .slider-main__controls
  &__controls {
    align-self: stretch;
    margin-bottom: toRem(20);

    @media (max-width: $tablet) {
      margin: toRem(10) 0 toRem(20) 0;
    }
  }

  // .slider-main__body
  &__body {

    @media (min-width: $tablet) {
      @include adaptiveValue("width", 934, 290);
    }

    @media (max-width: $tablet) {
      margin: 0 toRem(-15);
    }
  }

  // .slider-main__slide
  &__slide {
    position: relative;
  }

  // .slider-main__image
  &__image {
    padding-bottom: 59.1%;
  }

  // .slider-main__content
  &__content {
    min-width: toRem(295);
    max-height: toRem(300);
    overflow: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    @include adaptiveValue("padding", 24, 15);
    background: rgba(255, 255, 255, 0.9);

    @media (min-width: $mobile) {
      position: absolute;
      min-width: toRem(350);
      @include adaptiveValue("right", 40, 0);
      @include adaptiveValue("bottom", 40, 0);
    }

    /* Если браузер поддерживает backdrop-filter */
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .slider-main__title
  &__title {
    @include adaptiveValue("font-size", 28, 22);
    font-weight: 600;
    line-height: 1.2;

    &:not(:last-child) {
      margin: 0px 0px math.div(4px, 28px) * 1em 0px;
    }
  }

  // .slider-main__text
  &__text {
    line-height: 1.5;
    color: $grayColor;

    &:not(:last-child) {
      margin: 0px 0px math.div(8px, 16px) * 1em 0px;
    }
  }

  // .slider-main__price
  &__price {
    display: flex;
    flex-direction: row-reverse;
    line-height: 1.5;
    align-items: center;
    font-weight: 600;
    justify-content: space-between;
    @include adaptiveValue("font-size", 20, 16);

    &::before {
      margin-left: toRem(10);
      font-size: toRem(12);
    }
  }
}

.controls-slider-main {
  display: flex;
  align-items: center;

  // .controls-slider-main__dotts
  &__dotts {
    flex: 1 1 auto;

    @media (min-width: $tablet) {
      padding-right: toRem(20);
    }

    @media (max-width: $tablet) {
      justify-content: center;
    }
  }

  // .controls-slider-main__arrows
  &__arrows {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

//====================================================================================================